.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin: auto;
  padding: 0px 25px;
  margin-top: 120px;
  font-size: 14px;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .wrapper{
    flex-direction: row;
    max-width: 800px;
  }
}

.image{
  border-radius: 15px;
  width: 180px;
}

@media screen and (min-width: 768px) {
  .image{
      width: 250px;
  }
}

.info{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  height:100%;
  gap: 15px;
}

@media screen and (min-width: 768px) {
  .info {
      align-items: flex-start;
    }
}

.title{
  font-size: 26px;
  font-weight: 700px;
}

.accent {
  font-weight: 700;
  color: #FF941C;
}

.season-title{
  font-size: 24px;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 10px;
}


