.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin: auto;
  max-width: 1280px;
  width: 100%;
  padding: 0px 25px;
  margin-top: 120px;
  font-size: 14px;
  font-weight: 300;
  position: relative;
}

@media screen and (min-width: 768px) {
  .wrapper{
    flex-direction: row;
   
  }
}

.image{
  border-radius: 15px;
  width: 140px;
  margin-top: 40px;
}

@media screen and (min-width: 480px) {
  .image {
    margin-top: 0px;
    width: 180px;
  }
}

@media screen and (min-width: 768px) {
  .image{
    margin-top: 0px;
    width: 250px;
  }
}

.info{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  height:100%;
  gap: 15px;
}

@media screen and (min-width: 768px) {
  .info {
      align-items: flex-start;
    }
}

.title{
  font-size: 26px;
  font-weight: 700px;
}

.accent {
  font-weight: 700;
  color: #FF941C;
}

.season-title{
  font-size: 24px;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 10px;
}

.back-btn{
  position: absolute;
  top: 0px;
  left: 25px;
  color: #ffffff;
  padding: 10px 15px;
  background-color: #FF941C;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  border-color: transparent;
  font: inherit;
  font-weight: 500; 
}

.back-btn:hover {
  transform: scale(1.1);
}


