.title-secttion {
  position: relative;
  width: 100%;
  height: 500px;
}

.image-wrapper {
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.736) 0%, black 90%, black 100%);
}

.top-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  gap: 25px;
  margin: auto;
  margin-top: 80px;
  font-size: 14px;
  font-weight: 300;
}

.image-cover{
  border-radius: 15px;
  width: 250px;
}

.title{
  font-size: 26px;
  font-weight: 700px;
}

.accent {
  font-weight: 700;
  color: #FF941C;
}


.overview{
  margin-top: 15px;
}

.season-section{
  max-width: 1280px;
  padding: 0px 25px;
  margin: auto;
  font-size: 14px;
  font-weight: 300;
}

.season-title{
  font-size: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.image-season{
  width: 150px;
  border-radius: 15px;
}

.list-season{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.item-season{
  flex-basis: calc((100% - 45px) / 4);
  display: flex;
  align-items: center;
  gap:15px
}