.title-secttion{
  position: relative;
  width: 100%;
  height: 600px;
}

.image-wrapper{
  width: 100%;
  height: 100%;

}

.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-backdrop{
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.425) 0%, black 90%, black 100%);
 
}

.text-wrapper{
  width: 100%;
  height: 100%;
  padding: 0 25px;
  max-width: 1280px;
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 130px;
}

.title{
  font-size: 36px;
  font-weight: 700;
}

.rating{
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 300;
}

.accent{
  font-weight: 700;
  color: #FF941C;;
}

.overview{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
}

.button {
  color: #ffffff;
  padding: 10px 15px;
  background-color: #FF941C;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.button:focus,
.button:hover {
  transform: scale(1.1);
}

.trending-section {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  transform: translateY(-50px);
  padding: 25px;
}

.list{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.item{
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .item {
    flex-basis: calc((100% - 25px) / 2)
  }
}

@media screen and (min-width: 768px) {
  .item {flex-basis: calc((100% - 75px) / 4)}
}

@media screen and (min-width: 1200px) {
  .item {
    flex-basis: calc((100% - 100px) / 5)
  }
}

.item:hover,
.item:focus{
  transform: scale(1.1);
}

.image-cover{
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

