.image{
  width: 150px;
  border-radius: 15px;
}

.list{
  display: flex;
  gap: 15px;
  max-width: 1280px;
  cursor: grab;
}

.item{
  min-width: 300px;
  display: flex;
  align-items: center;
  gap: 15px
}

.title{
  font-weight: 500;
}