.button {
  color: #ffffff;
  padding: 5px 8px;
  background-color: #FF941C;
  cursor: pointer;
  border-radius: 5px;
  border-color: transparent;
  font: inherit;
  font-size: 12px;
  font-weight: 300;
  margin-top: 10px;
  width: max-content;
  position: absolute;
  top: 5px;
  right: 10px;
}

.button:hover {
  transform: scale(1.05);
}