.header{
  width: 100%;
  position: absolute;
  z-index: 10;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.header-wrapper{
  width: 100%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header-wrapper{
    flex-direction: row;
  }
}

.navigation {
  display: none;
  gap: 20px;
  font-size: 18px;
  padding: 0 25px;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }
}

.mobile-navigation {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 25px;
  width: 300px;
  height: 100vh;
  font-size: 28px;
  padding: 25px;
  background-color: #000000d0;
}

.menu-btn{
  background-color: transparent;
  min-width: 32px;
  min-height: 32px;
  background-image: url(./../../images/menu.svg);
  background-size: 100%;
  border-color: transparent;
  border-radius: 5px;
  margin: 0 25px;
  display: flex;
  cursor: pointer;
}

.menu-btn:hover{
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.close-btn{
  composes: menu-btn;
  background-image: url(./../../images/clear.svg);
  min-width: 32px;
  min-height: 32px;
  margin: auto;
  position: absolute;
  top: 25px;
  left: 25px;
}

@media screen and (min-width: 768px) {
  .close-btn {
    display: block;
  }
}

.link:hover{
  transform: scale(1.05);
}

.logo{
  padding: 0px 25px;
  font-size: 32px;
  font-weight: 700;
}

@media screen and (min-width: 480px) {
  .logo{
      font-size: 48px;
    }
}

.logo:hover {
  transform: scale(1.05);
}

.logo--accent{
  color: #FF941C;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}