.header{
  width: 100%;
  position: absolute;
  z-index: 10;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-wrapper{
  width: 100%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation{
  display: flex;
  gap: 20px;
  font-size: 18px;
  padding: 0 25px;
}

.logo{
  font-size: 48px;
  font-weight: 700;
}

.logo--accent{
  color: #FF941C;
}