.container {
  position: relative;
  width: 100%;
  height: 600px;
}

.container-small{
  composes: container;
  height: 650px;
}

@media screen and (min-width: 768px) {
  .container-small{
    height: 520px;
  }
}

.image-wrapper {
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-backdrop {
  width: 100%;
  height: 100%;
  
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.425) 0%, black 90%, black 100%);
}