@import url('https: //cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;700&display=swap');

body {

  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

img{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: block;
}

a{
  text-decoration: none;
  color: currentColor;
}

.active{
  color: #FF941C;
}

main{
  min-height: 90vh;
}